<div style="font-family: 'Berlin Sans FB';">

    <p style="margin: 0; text-align: center; font-size: 20px;">
        <strong style="font-family: 'Bookman Old Style';">&#xa0;</strong>
    </p>
    
    <p style="margin: 0; text-align: center; font-size: 20px;">
        <strong><u>INCLUSION ENDORSEMENT</u></strong>
    </p>
    
    <div style="padding-left: 20px; padding-right: 20px;"></div>
    
    <p style="margin: 0; font-size: 11pt;">&#xa0;</p>
    
    <div style="padding-left: 3.2%; padding-right: 3%;">
        <p style="line-height: 115%; text-align: left; font-size: 20px; margin-bottom: 0.14in;">
            <br><strong>Endorsement No: <u>{{endorsementNo}}</u></strong>
        </p>
        <p style="line-height: 115%; text-align: justify; font-size: 20px; margin-bottom: 0.14in;">
            <strong>Attaching to and forming part of Policy No: &nbsp;<u>{{policyNo}}</u></strong>
        </p>
        <p style="line-height: 115%; text-align: justify; font-size: 20px; margin-bottom: 0.14in;">
            <strong>Name of insured: <u>{{nameOfInsured}}</u></strong>
        </p>
    </div>
    
    <p style="margin: 0; font-size: 11pt; line-height: 115%;">&#xa0;</p>
    
    <p style="margin: 0; font-size: 17pt; text-align: justify;">&#xa0;</p>

    <div style="padding-left: 2.5%; padding-right: 5%;">
        <p style="margin: 0; text-align: justify; font-size: 20px;">
            It is hereby agreed and declared that the item stated hereunder/on the list are incorporated
            under this fire and lightning insurance policy for Storm, Tempest, and Flood Cover effective
            from <strong>{{endorsementDate.day}}</strong> day of <strong>{{endorsementDate.month}} {{endorsementDate.year}}.</strong> to the expiry
            of this policy i.e <strong>{{endorsementDate.day}}</strong> day of <strong>{{endorsementDate.month}} {{endorsementDate.year}}.</strong> 
        </p>

        <p style="margin: 0; line-height: 40%; font-size: 11pt;">&#xa0;</p>
        
        <table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
            <tr>
                <th style="border: 2px solid #000; padding: 5px; font-weight: bold;">No.</th>
                <th style="border: 2px solid #000; padding: 5px; font-weight: bold;">Asset class</th>
                <th style="border: 2px solid #000; padding: 5px; font-weight: bold;">Item Description</th>
                <th style="border: 2px solid #000; padding: 5px; font-weight: bold;">Model No.</th>
                <th style="border: 2px solid #000; padding: 5px; font-weight: bold;">SERIAL No.</th>
                <th style="border: 2px solid #000; padding: 5px; font-weight: bold;">Sum Insured</th>
            </tr>
            <tr>
                <td style="border: 2px solid #000; padding: 5px;">Data 1</td>
                <td style="border: 2px solid #000; padding: 5px;">Data 2</td>
                <td style="border: 2px solid #000; padding: 5px;">Data 3</td>
                <td style="border: 2px solid #000; padding: 5px;">Data 4</td>
                <td style="border: 2px solid #000; padding: 5px;">Data 5</td>
                <td style="border: 2px solid #000; padding: 5px;">Data 6</td>
            </tr>
            <tr>
                <td colspan="6" style="border: 2px solid #000; padding: 5px; font-weight: bold;">Total Price</td>
            </tr>
        </table>

        <p style="margin: 0; line-height: 40%; font-size: 11pt;">&#xa0;</p>

        <p style="margin: 0; text-align: justify; font-size: 20px;">
            In the view of the above, an additional premium of <strong>Birr{{.Birr}}</strong> and Revenue Stamp
            of Birr <strong>{{.Birr}}</strong> has been collected from insured. 
        </p>
		<div>
			<p style="margin-top: 12pt; text-align: center; font-size: 1pt;">&#xa0;</p>
        <p style="margin: 0; text-align: center; font-size: 1pt;">&#xa0;</p>
		<p style="margin: 0; text-align: justify; font-size: 20px;">
            Signed in <strong>{{city}}</strong> on this <strong>{{day}}th</strong> day of <strong>{{month}} {{year}}.</strong>
        </p>

		</div>

        <p style="margin: 0; text-align: center; font-size: 1pt;">&#xa0;</p>
        <p style="margin: 0; text-align: center; font-size: 1pt;">&#xa0;</p>
        
        <h1 style="margin-top: 12pt; margin-left: 252pt; margin-bottom: 3pt; text-indent: 36pt; text-align: justify; page-break-after: avoid; font-size: 20px;">
            <span style="width: 12.01pt; display: inline-block;">&#xa0;</span>
            <span style="width: 36pt; display: inline-block;">&#xa0;</span>
            <span style="width: 192pt; display: inline-block;">&#xa0;</span>
            <span style="font-family: 'Berlin Sans FB';">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>

			<span style="width: 15pt; font-weight: normal;">For and on behalf of </span>
        </h1>
        
        <p style="margin: 0; text-align: justify; font-size: 20px;">
            Prepared by: ______________
            <span style="width: 12.01pt; display: inline-block;">&#xa0;</span>
            <span style="width: 36pt; display: inline-block;">&#xa0;</span>
            <span style="width: 255pt; display: inline-block;">&#xa0;</span>
            <span style="font-family: 'Berlin Sans FB';">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
            Zemen Insurance Share Company
        </p>
        
        <p style="margin: 0; text-align: justify; font-size: 20px;">&#xa0;</p>
        
        <p style="margin-top: 25pt; text-align: justify; font-size: 20px;">
            Examined by: ______________
            <span style="width: 12.45pt; display: inline-block;">&#xa0;</span>
            <span style="width: 36pt; display: inline-block;">&#xa0;</span>
            <span style="width: 36pt; display: inline-block;">&#xa0;</span>
			<span style="width: 255pt; display: inline-block;">&#xa0;</span>
            <span style="font-family: 'Berlin Sans FB';">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</span>
			__________________
        </p>
        
        <p style="margin: 0; font-size: 11pt;">&#xa0;</p>
        <p style="margin: 0; font-size: 11pt;">&#xa0;</p>
        <p style="margin: 0; margin-left: 252pt; margin-bottom: 0; text-indent: 36pt; text-align: justify; font-size: 11pt;">
            &#xa0;&#xa0;&#xa0;&#xa0;&#xa0; 
        </p>
        
        <p style="margin: 0; font-size: 11pt;">&#xa0;</p>
        <p style="margin: 0;">&#xa0;</p>
    </div>
</div>
