<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>
<style>
    #watermark-text {
        position: absolute;
        font-size: 60px;
        color: hsl(0, 75%, 49%);
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        opacity: 0.3;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
        margin-top: 50px;
    }
</style>

<body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">

    {{#if status}}
    <div id="watermark">
        <!-- <img src="../assets/logo_long.png"> -->
        <p id="watermark-text">Draft </p>
    </div>
    {{/if}}

    <p
        style='text-align: center; background: transparent; font-family: "Book Antiqua", serif; font-size: 16px; line-height: 115%; margin-bottom: 0.14in;'>
        <u>&nbsp;<strong>Named Person Only Driving Amendment</strong></u></p>
    <p
        style='text-align: left;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;line-height: 115%;margin-bottom: 0.14in;'>
        <br><strong>Endorsement No: {{endorsementNo}}</strong></p>
    <p
        style='line-height: 115%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
        <strong>Attaching to and forming part of Policy No: &nbsp;{{policyNo}}</strong></p>
    <p
        style='line-height: 115%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
        <strong>Name of insured:</strong> <strong>{{nameOfInsured}}</strong></p>
    <p
        style='text-align: justify;background: transparent;font-family: "Times New Roman", serif;font-size:16px;line-height: 115%;margin-right: 0.08in;margin-bottom: 0.17in;'>
        <span size="2" style="font-size:15px;"><span style="text-decoration: none;">It is hereby declared and agreed
                that the Named Person Only Driving Endorsement in respect of the under mentioned vehicle(s) is amended
                as followed per written request of the insured effective from</span></span><span
            style="color: rgb(0, 0, 0);"><span style="text-decoration: none;">&nbsp;</span><span
                style="text-decoration: none;"><strong>1</strong></span><sup><span
                    style="text-decoration: none;"><strong>st</strong></span></sup><span
                style="text-decoration: none;">&nbsp;day of {{</span><span style="text-decoration: none;"><strong>April,
                    2022</strong></span><span style="text-decoration: none;">&nbsp;to&nbsp;</span><span
                style="text-decoration: none;"><strong>22</strong></span><sup><span
                    style="text-decoration: none;"><strong>nd&nbsp;&nbsp;</strong></span></sup><span
                style="text-decoration: none;">&nbsp;}} day of {{</span><span
                style="text-decoration: none;"><strong>September, 2022}}.</strong></span></span></p>
    <p
        style='text-align: justify;background: transparent;font-family: "Times New Roman", serif;font-size:16px;line-height: 115%;margin-bottom: 0in;'>
        <span size="2" style="font-size:15px;"><span style="text-decoration: none;">In consideration of the above which
                this policy is granted it is hereby understood and agreed that the Company shall not be liable to make
                any payment under this policy in respect of any accident loss damage and/or liability arising whilst
                any&nbsp;</span></span><span style="color: rgb(0, 0, 0);"><span style="text-decoration: none;">Motor Car
                described in the Schedule here to is being driven other than {{</span></span><span size="2"
            style="font-size:15px;"><span style="text-decoration: none;"><strong>Rehima Ibrahim</strong></span><span
                style="text-decoration: none;">,&nbsp;</span><span style="text-decoration: none;"><strong>Amrla
                    Ibrahim</strong></span><span style="text-decoration: none;">, and&nbsp;</span><span
                style="text-decoration: none;"><strong>Solomon Woldegirma</strong></span></span><span
            style="color: rgb(0, 0, 0);"><span style="text-decoration: none;">&nbsp;}}o</span><span
                style="text-decoration: none;">r in his/her charge for the purpose of being driven by
                him/her.</span></span></p>
    <p
        style='text-align: justify;background: transparent;font-family: "Times New Roman", serif;font-size:16px;line-height: 115%;margin-bottom: 0in;text-decoration: none;'>
        <br></p>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(0, 0, 0);" cellpadding="7">
        <tbody>
            <tr>
                <td colspan="10" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in; vertical-align: top;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;text-decoration: underline;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;'>
                        <span style="text-decoration: none;"><strong>DESCRIPTION OF VEHICLE(S)</strong></span></p>
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>Make of Vehicle</strong></span></p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>Type of Vehicle</strong></span></p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>Plate No</strong></span></p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>Chassis No</strong></span></p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>Engine No</strong></span></p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>C.C.</strong></span></p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>Year of Manu-facture</strong></span></p>
                </td>
                <td colspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>Carrying Capacity</strong></span></p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>Sum Insured (In Birr)</strong></span></p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in; vertical-align: bottom;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>Passengers including the driver</strong></span></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in; vertical-align: bottom;">
                    <p
                        style='line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'>
                        <span style="text-decoration: none;"><strong>Goods</strong></span></p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;margin-right: 0.08in;'>
                        <span style="text-decoration: none;">Toyota-Platz</span></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;margin-right: 0.08in;'>
                        <span style="text-decoration: none;">Automobile</span></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;margin-right: 0.08in;'>
                        <span style="text-decoration: none;">03-B11928 AA</span></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;margin-right: 0.08in;'>
                        <span style="text-decoration: none;">SCP11-0057888</span></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;margin-right: 0.08in;'>
                        <span style="text-decoration: none;">1SZ0953750</span></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;margin-right: 0.08in;'>
                        <span style="text-decoration: none;">997</span></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;margin-right: 0.08in;'>
                        <span style="text-decoration: none;">2002</span></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;margin-right: 0.08in;'>
                        <span style="text-decoration: none;">1+4</span></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;margin-right: 0.08in;'>
                        <span style="text-decoration: none;">-</span></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style='line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;margin-left: 0.08in;margin-right: 0.08in;'>
                        <span style="text-decoration: none;">1,000,000.00</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p
        style='text-align: justify;background: transparent;font-family: "Times New Roman", serif;font-size:16px;line-height: 115%;margin-bottom: 0in;text-decoration: none;'>
        <br></p>
    <p
        style='text-align: justify;background: transparent;font-family: "Times New Roman", serif;font-size:16px;line-height: 115%;margin-bottom: 0in;text-decoration: none;'>
        <span size="2" style="font-size:15px;">Subject otherwise to the terms, conditions and exceptions stated in the
            Policy or endorsed thereon.&nbsp;</span></p>
    <p
        style="text-align: justify;background: transparent;line-height: 100%;margin-left: -0.25in;text-indent: 0.25in;margin-bottom: 0.14in;">
        <br></p>
    <p
        style="text-align: justify;background: transparent;line-height: 100%;margin-left: -0.25in;text-indent: 0.25in;margin-bottom: 0.14in;">
        <span size="3" style="font-size: 15px;">Signed in <strong>{{city}}</strong><strong>&nbsp;</strong>on
            this<strong>&nbsp;{{yearAndMonth}}&nbsp;</strong>day of <strong>{{day}}</strong></span><span
            style="font-size: 15px;"><strong>.</strong></span></p>
    <p
        style="text-align: justify;background: transparent;line-height: 100%;margin-left: -0.25in;text-indent: 0.25in;margin-bottom: 0.14in;">
        <br></p>
    <p
        style='line-height: 100%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Bookman Old Style", serif;font-size:16px;'>
        Prepared by: ______________ &nbsp;</p>
    <p
        style='line-height: 100%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
        <br></p>
    <p
        style='line-height: 100%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
        Examined by: ______________ &nbsp;</p>
    <h1
        style='margin: 0in 0px 0in 3.5in; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; line-height: 16px; text-align: center; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; font-weight: bold;'>
        <span size="2" style="font-size: 15px;"><span style="font-weight: normal;">For and on behalf of</span></span>
    </h1>
    <h1
        style='margin: 0in 0px 0in 3.5in; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; line-height: 16px; text-align: center; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; font-weight: bold;'>
        <span size="2" style="font-size: 15px;"><span style="font-weight: normal;">Zemen Insurance Company
                S.C</span></span></h1>
</body>

</html>