<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>
<style>
    #watermark-text {
        position: absolute;
        font-size: 60px;
        color: hsl(0, 75%, 49%);
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        opacity: 0.3;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
        margin-top: 50px;
    }
</style>

<body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
    {{#if status}}
    <div id="watermark">
        <!-- <img src="../assets/logo_long.png"> -->
        <p id="watermark-text">Draft </p>
    </div>
    {{/if}}
    <p
        style='text-align: center; background: transparent; font-family: "Book Antiqua", serif; font-size: 16px; line-height: 115%; margin-bottom: 0.14in;'>
        <u>&nbsp;<strong>Total Suspension (Laid up) Endorsement</strong></u></p>
    <p
        style='text-align: left;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;line-height: 115%;margin-bottom: 0.14in;'>
        <br><strong>Endorsement No: {{endorsementNo}}</strong></p>
    <p
        style='line-height: 115%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
        <strong>Attaching to and forming part of Policy No: &nbsp;{{policyNo}}</strong></p>
    <p
        style='line-height: 115%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
        <strong>Name of insured:</strong> <strong>{{nameOfInsured}}</strong></p>
    <p
        style='line-height: 115%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
        <br></p>
    <p style="font-size:16px;text-align: justify;background: transparent;line-height: 100%;margin-bottom: 0in;">It is
        hereby declared and agreed that the vehicle(S) described here belowis/are laid up and out of use and all
        liability of the company within the Policy is suspended effective from __________.</p>
    <p style="font-size:16px;text-align: justify;background: transparent;line-height: 100%;margin-bottom: 0in;"><br></p>
    <table style="width: 480pt; border-collapse: collapse; margin: 0px auto; border: 1px solid rgb(0, 0, 0);"
        cellpadding="7">
        <tbody>
            <tr>
                <td colspan="11"
                    style="background: transparent; border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in; vertical-align: top;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;">
                        DESCRIPTION OF VEHICLE(S)</p>
                </td>
            </tr>
            <tr>
                <td rowspan="2"
                    style="background: transparent; border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in; vertical-align: top;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        <br></p>
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        S/No</p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        Make of Vehicle&nbsp;</p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        Type of Vehicle&nbsp;</p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        Plate No</p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        Chassis No</p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in; vertical-align: top;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0in;background: transparent;">
                        <br></p>
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0in;background: transparent;">
                        Engine No</p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;background: transparent;margin-bottom: 0in;">
                        C.C.</p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        Year of Manu-facture</p>
                </td>
                <td colspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        Carrying Capacity</p>
                </td>
                <td rowspan="2" style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        Sum Insured (ETB)</p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        Goods</p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: center;margin-bottom: 0.1in;background: transparent;">
                        Passengers including the driver</p>
                </td>
            </tr>
            <tr>
                <td
                    style="background: transparent; border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in; vertical-align: top;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;margin-right: 0.08in;">
                        <br></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;margin-right: 0.08in;">
                        <br></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;margin-right: 0.08in;">
                        <br></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;margin-right: 0.08in;">
                        <br></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;margin-right: 0.08in;">
                        <br></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in; vertical-align: top;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;margin-right: 0.08in;">
                        <br></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;margin-right: 0.08in;">
                        <br></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;margin-right: 0.08in;">
                        <br></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;margin-right: 0.08in;">
                        <br></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;margin-left: 0.08in;margin-right: 0.08in;">
                        <br></p>
                </td>
                <td style="border: 1px solid rgb(0, 0, 0); padding: 0in 0.08in;">
                    <p
                        style="font-size:16px;line-height: 115%;text-align: left;margin-bottom: 0.1in;background: transparent;">
                        <br></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="font-size:16px;line-height: 100%;text-align: left;margin-bottom: 0in;background: transparent;"><br></p>
    <p
        style="text-align: justify;background: transparent;line-height: 100%;margin-right: -0.19in;margin-bottom: 0.14in;">
        <br></p>
    <p
        style="text-align: justify;background: transparent;line-height: 100%;margin-right: -0.19in;margin-bottom: 0.14in;">
        <span size="2" style='font-size: 16px; font-family: "Times New Roman", Times, serif;'>Subject otherwise to the
            terms, conditions and exceptions stated in the Policy or endorsed thereon.&nbsp;</span></p>
    <p
        style='line-height: 100%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Bookman Old Style", serif;font-size:16px;'>
        <span size="3" style="font-size:16px;">Signed in <strong>{{city}}</strong><strong>&nbsp;</strong>on
            this<strong>&nbsp;{{yearAndMonth}}&nbsp;</strong>day of <strong>{{day}}</strong></span><strong>.</strong>
    </p>
    <p
        style="text-align: justify;background: transparent;line-height: 100%;margin-left: -0.25in;text-indent: 0.25in;margin-bottom: 0.14in;">
        <br></p>
    <p
        style='line-height: 100%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Bookman Old Style", serif;font-size:16px;'>
        Prepared by: ______________ &nbsp;</p>
    <p
        style='line-height: 100%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
        <br></p>
    <p
        style='line-height: 100%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
        Examined by: ______________ &nbsp;&nbsp;</p>
    <p
        style='text-align: center; margin-bottom: 0.14in; background: transparent; font-family: "Book Antiqua", serif; font-size: 16px; line-height: 1.15;'>
        <span size="2" style="font-size: 15px;"><span style="font-weight: normal;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp;For and on behalf of&nbsp;</span></span></p>
    <p
        style='text-align: right; margin-bottom: 0.14in; background: transparent; font-family: "Book Antiqua", serif; font-size: 16px; line-height: 1.15;'>
        <span size="2" style="font-size: 15px;"><span style="font-weight: normal;">Zemen Insurance Company
                S.C</span></span></p>
</body>

</html>