<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>
<style>
    #watermark-text {
        position: absolute;
        font-size: 60px;
        color: hsl(0, 75%, 49%);
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        opacity: 0.3;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
        margin-top: 50px;
    }
</style>

<body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
    {{#if status}}
    <div id="watermark">
        <!-- <img src="../assets/logo_long.png"> -->
        <p id="watermark-text">Draft </p>
    </div>
    {{/if}}
    <h1 style='color: #000000;text-align: center;margin-left: 4in;text-indent: -3.9in;background: transparent;text-decoration: underline;font-family: "Century", serif;font-size:21px;font-weight: bold;'><u>Change In Excess Endorsement</u></h1>
    <p style='color: rgb(0, 0, 0);background: transparent;font-family: "Times New Roman", serif;font-size:16px;line-height: 100%;margin-left: 4in;text-indent: -3.9in;margin-bottom: 0in;text-align: center;'><br></p>
    <p style='color: rgb(0, 0, 0);background: transparent;font-family: "Times New Roman", serif;font-size:16px;line-height: 100%;margin-left: 4.4in;text-indent: -3.9in;margin-bottom: 0in;text-align: center;'><br></p>
    <p style='color: rgb(0, 0, 0); line-height: 200%; margin-bottom: 0in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; margin-left: 212px; margin-right: -0.25in; text-indent: -2in;'><strong>Endorsement No: <u>&nbsp; &nbsp;{{endorsementNO}} &nbsp;</u></strong></p>
    <p style='color: rgb(0, 0, 0); line-height: 200%; margin-bottom: 0in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; margin-left: 212px; margin-right: -0.25in; text-indent: -2in;'><strong>Attaching To and Forming Part of Policy No:<u>&nbsp; &nbsp;{{attachingTo}} &nbsp;&nbsp;</u></strong></p>
    <p style='color: rgb(0, 0, 0); line-height: 200%; margin-bottom: 0in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; margin-left: 212px; margin-right: -0.25in; text-indent: -2in;'><strong>Insured Name: <u>&nbsp; {{insuredName}} &nbsp;</u></strong></p>
    <p style='color: rgb(0, 0, 0); background: transparent; font-family: "Times New Roman", serif; font-size: 16px; line-height: 100%; margin-bottom: 0in; text-align: justify; margin-left: 20px;'>It is hereby declared and agreed that the Excess amount stated in the schedule is amended as follows but not as stated thereon effective from <u>&nbsp; {{effectiveFrom}}&nbsp;</u> .</p>
    <p style='color: rgb(0, 0, 0); background: transparent; font-family: "Times New Roman", serif; font-size: 16px; line-height: 100%; margin-bottom: 0in; text-align: justify; margin-left: 20px;'><br></p>
    <table style="width: 4.2e+2pt" cellpadding="7">
        <tbody>
            <tr>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: #000000;line-height: 115%;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;text-align: justify;'><strong>S/NO</strong></p>
                </td>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: rgb(0, 0, 0); line-height: 115%; margin-bottom: 0.1in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; text-align: justify; margin-left: 20px;'><strong>Plate No</strong></p>
                </td>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: rgb(0, 0, 0); line-height: 115%; margin-bottom: 0.1in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; text-align: justify; margin-left: 20px;'><strong>Chassis NO</strong></p>
                </td>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: rgb(0, 0, 0); line-height: 115%; margin-bottom: 0.1in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; text-align: justify; margin-left: 20px;'><strong>Type of Excess</strong></p>
                </td>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: rgb(0, 0, 0); line-height: 115%; margin-bottom: 0.1in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; text-align: justify; margin-left: 20px;'><strong>Previous Excess amount</strong></p>
                </td>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: rgb(0, 0, 0); line-height: 115%; margin-bottom: 0.1in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; text-align: justify; margin-left: 20px;'><strong>Amended Excess amount</strong></p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: #000000;line-height: 115%;margin-bottom: 0.1in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;text-align: justify;'><br></p>
                </td>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: rgb(0, 0, 0); line-height: 115%; margin-bottom: 0.1in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; text-align: justify; margin-left: 20px;'><br></p>
                </td>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: rgb(0, 0, 0); line-height: 115%; margin-bottom: 0.1in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; text-align: justify; margin-left: 20px;'><br></p>
                </td>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: rgb(0, 0, 0); line-height: 115%; margin-bottom: 0.1in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; text-align: justify; margin-left: 20px;'><br></p>
                </td>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: rgb(0, 0, 0); line-height: 115%; margin-bottom: 0.1in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; text-align: justify; margin-left: 20px;'><br></p>
                </td>
                <td style="border: 1px solid #000000;padding: 0in 0.08in;">
                    <p style='color: rgb(0, 0, 0); line-height: 115%; margin-bottom: 0.1in; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; text-align: justify; margin-left: 20px;'><br></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style='color: rgb(0, 0, 0); background: transparent; font-family: "Times New Roman", serif; font-size: 16px; line-height: 100%; margin-bottom: 0in; text-align: justify; margin-left: 20px;'><br></p>
    <p style='color: rgb(0, 0, 0); background: transparent; font-family: "Times New Roman", serif; font-size: 16px; line-height: 100%; margin-left: 68px; margin-bottom: 0in; text-align: justify;'><br></p>
<p
    style='line-height: 115%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
    Signed in<strong>&nbsp;{{city}}&nbsp;</strong>on this<strong>&nbsp; &nbsp;{{month}}&nbsp;</strong>day of
    <strong>{{day}}&nbsp;</strong><strong>.</strong>
</p>
<h1
    style='line-height: 100%;text-align: justify;margin-top: 0in;margin-bottom: 0in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;font-weight: bold;margin-left: 3.5in;text-indent: 0.5in;'>
    <br>
</h1>
<p
    style='line-height: 100%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
    Prepared by: ______________ &nbsp;</p>
<p
    style='line-height: 100%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
    <br>
</p>
<p
    style='line-height: 100%;text-align: justify;margin-bottom: 0.14in;background: transparent;font-family: "Book Antiqua", serif;font-size:16px;'>
    Examined by: ______________ &nbsp;</p>
    <p style='color: #000000;line-height: 100%;margin-bottom: 0in;background: transparent;font-family: "Times New Roman", serif;font-size:16px;'><br></p>
    <h1
        style='margin: 0in 0px 0in 3.5in; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; line-height: 16px; text-align: center; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; font-weight: bold;'>
        <span size="2" style="font-size: 15px;"><span style="font-weight: normal;">For and on behalf of</span></span>
    </h1>
    <h1
        style='margin: 0in 0px 0in 3.5in; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; line-height: 16px; text-align: center; background: transparent; font-family: "Times New Roman", serif; font-size: 16px; font-weight: bold;'>
        <span size="2" style="font-size: 15px;"><span style="font-weight: normal;">Zemen Insurance Company
                S.C</span></span>
    </h1>
</body>

</html>