<!DOCTYPE html>
<html lang="en"  encoding='UTF-8'>
    <head>
        <meta charset="utf-8" />
        <title>Zemen Insurance S.C. Notification Form</title>
    </head>

<style>
    @font-face {
        font-family: 'Berlin Sans FB';
        src: url('fonts/BRLNSR.TTF');
    }
    .header-info {
        font-weight: bold;
    }
    .grid-col-1 {
        width: fit-content;
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        margin-left: 20px;
    }
    .grid-col-2 {
        width: fit-content;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        margin-left: 20px;
    }
    .grid-col-3 {
        width: fit-content;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        margin-left: 20px;
    }
    .grid-col-5 {
        width: fit-content;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 10px;
        margin-left: 20px;
    }
    .grid-row-1 {
        width: fit-content;
        grid-template-rows: auto;

    }
    .grid-row-2 {
        width: fit-content;
        grid-template-rows: auto auto;
    }
    .grid-item-english-1 {
        margin-left: 25px;
        margin-top: -10px;
    }
    .grid-item-english-2 {
        margin-top: -10px;
    }

</style> 
<body>
    <header class="header-info">
        <table style="margin-left: auto; margin-right: auto; width: 50%;">
            <tr>
                <td style="text-align: center; font-size:large;"><u><b>የየብስ አጓጓዦች ሕጋዊ ኃላፊነት ኢንሹራንስ</b></u></td>
            </tr>
            <tr>
                <td style="text-align: center; font-size:large"><u><b>Inland Carriers Liability Insurance</b></u></td>
            </tr>
            <tr>
                <td style="text-align: center; font-size:large"><u><b>የአደጋ ማሳወቂያ</b></u></td>
            </tr>
            <tr>
                <td style="text-align: center; font-size:large"><u><b>Notification of Accident</b></u></td>
            </tr>
            
        </table>
    </header>

    <section class="section-intro">
        
        <h1 style="font-size: medium;">ውድ ደንበኛችን</h1>
        <div>
            <p>
                የኩባንያችን ዓላማ ካሣ መክፈል ብቻ ሳይሆን የእርስዎን ደህንነት መጠበቅና መረዳትም ጭምር ነው፡፡ ይህን ማድረግ እንድንችልም ከዚህ በታች ለተዘረዘሩት መጠይቆች ምላሽ በሚሰጡበት ጊዜ ከፍተኛ ጥንቃቄ ማድረግና የሚሰጡትም ማንኛውም ቃል ወይም መግለጫ እውነተኛና ትክክል መሆኑን ማረጋገጥ እጅግ በጣም አስፈላጊ ነው፡፡ክፍያ የሚፈፅሙ መሆኑን በማረጋገጥ የሚገቡት ቃል ወይም ኃላፊነትን በማመን የሚፈፅሙት ማንኛውም ድርጊት የእርስዎን መብት ሊጋፋ ስለሚችልና የካሳ አከፋፈሉን አስቸጋሪ የሚያደርገው በመሆኑ ማንኛውንም የክፍያ ስምምነት ከመፈፀም ወይም ኃለፊነትን ከመቀበል ድርጊት እንዲቆጠቡ እናሳስባለን፡፡
            </p>
            <p>
                ማንኛውም ዓይነት ደብዳቤ ወይም ሰነድ (ለምሳሌ የካሣ ክፍያ ጥያቄ ወይም የፍ/ቤት መጥሪያ ትዕዛዝ… ወዘተ) የሚደርስዎ ቢሆን ምንም አይነት ምላሽ ከመስጠትዎ በፊት ከነሙሉ ዝርዝርሩ ለኩባንያው እንዲያስተላልፉ እናሳስባለን፡፡ ለትብብርዎ እናመሰግናለን፡፡
            </p>
        </div>
        <h1 style="font-size: medium;">Dear policy Holder:</h1>
        <div>
            <p>
                Our aim is not only to pay your claims but also to protect and assist you. It is necessary therefore, that feat care be taken in supplying the information set out below and the statement given need be strictly accurate. Please do not make any offer or promise of payment or admit liability in any way, as by so doing you may prejudice your position and make settlement a difficult matter.
            </p>
            <p>
                If  you have received any communication (eg. Claim document, court summon, etc), please inform us by forwarding all details without replying thereto. We thank you for your co-operation.    
            </p>
        </div>
        <div>
            <div>
                <div>
                    <p>1. ስለመድን ገቢው መግለጫ</p>
                    <p style="margin-top: -10px;">&nbsp;&nbsp;&nbsp;&nbsp;Particulars of Policy Holder</p>
                </div>
                <div class="grid-col-2">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>1.1 ሙሉ ስም</span></p>
                            <p class="grid-item-english-1"><span>Name in full</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{fullName}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>1.2 ስራ ወይም ሙያው</span></p>
                            <p class="grid-item-english-1"><span>Profession</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{profession}}</u></span></p>
                        </div>
                    </div>
                </div>
                <div class="grid-col-5">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>1.3 አድራሻ</span></p>
                            <p class="grid-item-english-1"><span>City</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{city}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>ክ/ከተማ</span></p>
                            <p class="grid-item-english-2"><span>Sub City</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{subcity}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>ቀበሌ</span></p>
                            <p class="grid-item-english-2"><span>Kebele</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{kebele}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>የቤት ቁጥር</span></p>
                            <p class="grid-item-english-2"><span>House No</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{houseNo}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>የስልክ ቁጥር</span></p>
                            <p class="grid-item-english-2"><span>Phone No</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{phoneNo}}</u></span></p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>2. ስለ ፖሊሲውና ተሽከርካሪው መግለጫ</p>
                    <p style="margin-top: -10px;">&nbsp;&nbsp;&nbsp;&nbsp;Particulars of Policy & vehicle</p>
                </div>
                <div class="grid-col-2">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>2.1 የፖሊስ ቁጥር</span></p>
                            <p class="grid-item-english-1"><span>Policy No</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{policyNo}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>2.2 የሰሌዳ ቁጥር</span></p>
                            <p class="grid-item-english-1"><span>Plate No</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{plateNo}}</u></span></p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>3. ስለ አሽከርካሪው መግለጫ </p>
                    <p style="margin-top: -10px;">&nbsp;&nbsp;&nbsp;&nbsp;Particulars of Driver</p>
                </div>
                <div class="grid-col-1">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>3.1 መኪናውን ይነዳው የነበረው ሰው ሙሉ ስም</span></p>
                            <p class="grid-item-english-1"><span>Drivers Name in full</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{driverFullName}}</u></span></p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="grid-col-5">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>3.2 አድራሻ</span></p>
                            <p class="grid-item-english-1"><span>City</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{driverCity}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>ክ/ከተማ</span></p>
                            <p class="grid-item-english-2"><span>Sub City</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{driverSubcity}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>ቀበሌ</span></p>
                            <p class="grid-item-english-2"><span>Kebele</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{driverKebele}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>የቤት ቁጥር</span></p>
                            <p class="grid-item-english-2"><span>House No</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{driverHouseNo}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>የስልክ ቁጥር</span></p>
                            <p class="grid-item-english-2"><span>Phone No</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{driverPhoneNo}}</u></span></p>
                        </div>
                    </div>
                </div>
                <div class="grid-col-3">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>3.3 የመንጃ ፈቃድ ቁጥር</span></p>
                            <p class="grid-item-english-1"><span>Driving License</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{drivingLicense}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>ደረጃው</span></p>
                            <p class="grid-item-english-2"><span>Type</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{type}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>ፈቃዱ የሚያልቅበት ጊዜ</span></p>
                            <p class="grid-item-english-2"><span>Expiry date</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{expiryDate}}</u></span></p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>4. ስለ አደጋው ዝርዝር መግለጫ</p>
                    <p style="margin-top: -10px;">&nbsp;&nbsp;&nbsp;&nbsp;Details of accident</p>
                </div>
                <div class="grid-col-3">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>4.1 የአደጋው ቀን</span></p>
                            <p class="grid-item-english-1"><span>Date of Accident</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{dateOfAccident}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>ሰዓት</span></p>
                            <p class="grid-item-english-2"><span>Time</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{accidentTime}}</u></span></p>
                        </div>
                    </div>
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>ቦታ</span></p>
                            <p class="grid-item-english-2"><span>Place</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{accidentPlace}}</u></span></p>
                        </div>
                    </div>
                </div>
                <div class="grid-col-1">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>4.2 የአደጋው አይነት</span></p>
                            <p class="grid-item-english-1"><span>Type of Accident</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{typeOfAccident}}</u></span></p>
                        </div>
                    </div>
                </div>
                <div class="grid-col-1">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>4.3 የተጫነው ዕቃ ዓይነት</span></p>
                            <p class="grid-item-english-1"><span>Type of Cargo</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{typeOfCargo}}</u></span></p>
                        </div>
                    </div>
                </div>
                <div class="grid-col-1">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>4.4 የተጫነው ዕቃ መጠን</span></p>
                            <p class="grid-item-english-1"><span>Quantity of Cargo</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{quantityOfCargo}}</u></span></p>
                        </div>
                    </div>
                </div>
                <div class="grid-col-1">
                    <div class="grid-col-2">
                        <div class="grid-row-2">
                            <p><span>4.5 ዕቃውን ለማንሳት የሚያስፈልገው የክሬን አይነት</span></p>
                            <p class="grid-item-english-1"><span>Types of Crane needed to lift</span></p>
                        </div>
                        <div class="grid-row-1">
                            <p><span><u>{{crainType}}</u></span></p>
                        </div>
                    </div>
                </div>
                <div class="grid-col-1">
                    <div style="margin-left: 20px;">
                        <p><span>4.6 የአደጋው ዝርዝር ሁኔታ በፖሊስ ተመዝግቧል' ከተመዘገበ የጣቢያውንና የፖሊሱን ስም ይግለጹ፡፡</span></p>
                        <p class="grid-item-english-1">
                            <span>Were particulars taken by police? If so, give name of the police station and the police officer.</span>
                        </p>
                        <p style="margin-left: 20px;"><span><u>{{accidentRegistration}}</u></span></p>
                    </div>
                </div>
                <div class="grid-col-1">
                    <div style="margin-left: 20px;">
                        <p><span>4.7 ስለ አደጋው አደራረስ አጭር መግለጫ ይስጡ</span></p>
                        <p class="grid-item-english-1">
                            <span>Give brief description of the accident</span>
                        </p>
                        <p style="margin-left: 20px;"><span><u>{{accidentDescription}}</u></span></p>
                    </div>
                </div>
                <div class="grid-col-1">
                    <div style="margin-left: 20px;">
                        <p><span>4.8 በጭነቱ ላይ የደረሰውን የጉዳት መጠን ይግለጹ</span></p>
                        <p class="grid-item-english-1">
                            <span>Please give explanation as to extent of damage on the cargo</span>
                        </p>
                        <p style="margin-left: 20px;"><span><u>{{extentOfDamage}}</u></span></p>
                    </div>
                </div>
                <div>
                    <p>እኔ/እኛ ከዚህ በላይ ለቀረቡልኝ/ለቀረቡልን ጥያቄዎች የሰጠሁት/የሰጠነው (ዝርዝር መግለጫ) እውነተኛና ትክክለኛ መሆኑን እየገለጽሁ/እየገለጽን ከዚህ በተጨማሪ ድርጅቱ በበኩሉ ለሚወስደው ማንኛውም እርምጃ ተገቢውን እርዳታና ድጋፍ የምሰጥ መሆኔን አስታውቃለሁ/የምንሰጥ መሆናችንን እናሳውቃለን፡፡</p>
                        <p>I/we declare the foregoing particulars to be true and correct in every respect, and undertaken to render the company every  assistance in my/our power in dealing with the matter</p>
                </div>
                <div style="width: fit-content; display: block;">
                    <div style="width: fit-content; display: inline-block; margin-right: 20px;">
                        <p style="margin-top: -15px; margin-left: 45px;"><span>Date</span></p>
                        <p style="margin-top: -35px; margin-left: 80px;"><span><u>{{notificationDate}}</u></span></p>
                    </div>
                    <div style="width: fit-content; display: inline-block; margin-right: 20px;">
                        <p style="margin-top: -15px; margin-left: 0px;"><span>Month</span></p>
                        <p style="margin-top: -35px; margin-left: 50px;"><span><u>{{notificationMonth}}</span></u></span></p>
                    </div>
                    <div style="width: fit-content; display: inline-block; margin-right: 20px;">
                        <p style="margin-top: -15px; margin-left: 20px;"><span>Year</span></p>
                        <p style="margin-top: -35px; margin-left: 50px;"><span><u>{{notificationYear}}</u></span></p>
                    </div>
                </div>
                <div style="width: fit-content; display: block; margin-left: 15px;">
                    <div style="width: fit-content; display: inline-block; margin-right: 20px;">
                        <p><span>     መድን የገባው ሰው ስምና ፊርማ</span></p>
                        <p style="margin-top: -15px; margin-left: 20px;"><span>Insured's Name & Signature</span></p>
                        <hr style="width: 150px; margin-top: -40px; margin-left: 245px;">
                        <p style="margin-top: -25px; margin-left: 420px;"><span>     ቀን</span></p>
                        <hr style="width: 50px; margin-top: -20px; margin-left: 470px;">
                        <p style="margin-top: -25px; margin-left: 530px;"><span>20</span></p>
                        <hr style="width: 30px; margin-top: -20px; margin-left: 550px;">
                        <p style="margin-top: -25px; margin-left: 580px;"><span>ዓ.ም</span></p>
                    </div>
                </div>
                <div style="width: fit-content; display: block; margin-left: 15px;">
                    <div style="width: fit-content; display: inline-block; margin-right: 20px;">
                        <p><span>     የአሽከርካሪው ሰው ስምና ፊርማ</span></p>
                        <p style="margin-top: -15px; margin-left: 20px;"><span>Driver’s Name & Signature</span></p>
                        <hr style="width: 150px; margin-top: -40px; margin-left: 245px;">
                        <p style="margin-top: -25px; margin-left: 420px;"><span>     ቀን</span></p>
                        <hr style="width: 50px; margin-top: -20px; margin-left: 470px;">
                        <p style="margin-top: -25px; margin-left: 530px;"><span>20</span></p>
                        <hr style="width: 30px; margin-top: -20px; margin-left: 550px;">
                        <p style="margin-top: -25px; margin-left: 580px;"><span>ዓ.ም</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>