<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Berlin+Sans+FB+Demi&display=swap">
  <title>Berlin Sans FB Demi Font</title>
</head>
<style>
  @font-face {
    font-family: 'Berlin Sans FB Demi';
    src: url('fonts/Berlin Sans FB Demi Bold.ttf');
  }
  h1 {
    font-family: 'Berlin Sans FB Demi';
  }
  p {
    font-family: 'Berlin Sans FB Demi';
  }
</style>
<body>
  <h1>Berlin Sans FB Demi Font</h1>
  <p>This is a paragraph of text using the Berlin Sans FB Demi font.</p>
</body>
</html>